@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 100px;
    background-image: url("/img/1.jpg");
    background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container-grid {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    position: relative;
}

.container-grid form {
    display: flex;
}

.form input {
    font-size: 20px;
    width: 100px;
}

.form button {
    font-size: 20px;
}

.Logo {
    width: 400px;
}

.menu {
    font-size: 20px;
    width: 351px;
    display: flex;
    justify-content: space-between;
}

.menu a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'roboto';
}

.barras-cabecalho {
    display: none;
    width: 50px;
    color: darkgrey;
}

.barras-cabecalho img {
    width: 50px;
}

.logos_plataformas {
    width: 100%;
    height: 90px;
    display: flex;
    background-color: white;
    justify-content: space-around;
    align-items: center;
}

.menu a:after {
    content: '';
    height: 2px;
    width: 0%;
    background-color: white;
    display: block;
    transition: .5s ease-in-out;
}

.menu a:hover::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: white;
    display: block;
    /* text-decoration: underline; */
}

.banner {
    width: 100%;
    height: 750px;
    background-image: url(img/imagem_banner2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.EldenRing {
    width: 100%;
    height: 750px;
    background-image: url(/img/Elden\ Ring\ \(2\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Valorant {
    width: 100%;
    height: 750px;
    background-image: url(/img/Valorant\ New.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.head-a {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
}

.head-a h1 {
    height: -13px;
    margin-top: 50px;
    color: white;
    font-size: 50px;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.head-a a {
    height: 40px;
    width: 428px;
    height: 111px;
    margin-top: 78px;
    font-size: 40px;
    transform: translate(-10%, -50%);
    color: #1670f0;
    padding: 32px 95px;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 20px 50px rgb(0 0 0 / 50%);
    overflow: hidden;
}

.head-a a button {
    background: linear-gradient(to right, #0c002b, #1779ff);
    color: white;
    font-weight: 500;
}

.head-a a:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.05);
}

.head-a a span:nth-child(1) {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #0c002b, #1779ff);
    animation: animate1 2s linear infinite;
}

@keyframes animate1 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.head-a a span:nth-child(2) {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, #0c002b, #1779ff);
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate2 {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

.head-a a span:nth-child(3) {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, #0c002b, #1779ff);
    animation: animate3 2s linear infinite;
}

@keyframes animate3 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.head-a a span:nth-child(4) {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top, #0c002b, #1779ff);
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate4 {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-100%);
    }
}

.texto-banner {
    height: 50px;
    margin-top: 50px;
    font-size: 50px;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.texto-banner p {
    width: 500px;
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 0.5rem;
    margin-left: 110px;
    font-weight: 700;
    line-height: 70px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.texto-banner a {
    font-size: 30px;
    margin-left: 150px;
}

.servicos {
    width: 100%;
    height: 100px;
    font-size: 40px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    align-items: center;
}

.promocoes {
    width: 100%;
    height: 1000px;
    background-size: cover;
    background-image: url(../img/55929_3d_low_polygon_black_dark.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.promocoes header {
    font-size: 60px;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.promocoes d-block w-100 {
    width: 300px;
    font-weight: 700;
    line-height: 0, 5;
    color: white;
    justify-content: center;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.menu-flex {
    height: 800px;
    display: flex;
    margin: 5%;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    justify-content: space-around;
    align-items: center;
}

.fhorizon {
    display: flex;
    flex-direction: column;
}

.god-of-war {
    display: flex;
    flex-direction: column;
}

.codvanguard {
    display: flex;
    flex-direction: column;
}

.newworld {
    display: flex;
    flex-direction: column;
}

.chronocross {
    display: flex;
    flex-direction: column;
}

.valo {
    display: flex;
    flex-direction: column;
}

.galeria {
    width: 100%;
    height: 1000px;
    background-size: cover;
    background-image: url(../img/55929_3d_low_polygon_black_dark.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.galeria header {
    font-size: 60px;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.menu_flex {
    height: 800px;
    display: flex;
    margin: 5%;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    justify-content: space-around;
    align-items: center;
}

.tgs1 {
    display: flex;
    flex-direction: column;
}

.tgs2 {
    display: flex;
    flex-direction: column;
}

.tgs3 {
    display: flex;
    flex-direction: column;
}

.tgs4 {
    display: flex;
    flex-direction: column;
}

.tgs5 {
    display: flex;
    flex-direction: column;
}

.tgs6 {
    display: flex;
    flex-direction: column;
}

.noticias {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../img/4.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.noticias header {
    font-size: 60px;
    font-weight: 700;
    line-height: 0, 5;
    color: white;
    justify-content: center;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.container-noticias h2 {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 5%;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    justify-content: space-around;
    align-items: center;
}

.noticias h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    justify-content: space-around;
    align-items: center;
}

.card-news p {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.content-news {
    height: 100%;
    display: flex;
    text-align: left;
    justify-content: space-around;
    color: white;
}

.rodape {
    display: flex;
    justify-content: center;
    width: 100%;
    background-size: cover;
    background-image: url(../img/3.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.thk {
    background-image: url("../img/1.jpg");;
    font-size: 40px;
    font-weight: 500;
    color: white;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.headsrodape {
    margin-top: 100px;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.rodape h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 15px;
    font-weight: 700;
    line-height: 2;
    color: white;
    justify-content: center;
    justify-content: space-around;
    text-align: center;
}

.rodape h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 15px;
    font-weight: 700;
    line-height: 2;
    color: white;
    justify-content: center;
    justify-content: space-around;
    text-align: center;
}

.rodape h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 15px;
    font-weight: 700;
    line-height: 2;
    color: white;
    justify-content: center;
    justify-content: space-around;
    text-align: center;
}

.rodape h4 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.2;
    color: white;
    justify-content: center;
    justify-content: space-around;
    text-align: center;
}

.rodape h5 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.2;
    color: white;
    justify-content: center;
    justify-content: space-around;
    text-align: center;
}

.rodape h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.2;
    color: white;
    text-align: center;
}

.headsrodape form {
    align-items: center;
    text-align: center;
}


@media screen and (max-width: 1290px) {
    .logos_plataformas {
        display: none;
    }

    .EldenRing {
        width: 100%;
        height: 100%;
    }

    .Valorant {
        width: 100%;
        height: 100%;
    }

    .container-grid {
        width: 85%;
    }

    .promocoes {
        height: 1200px;
    }

    .head-a h1 {
        display: none;
    }
}

@media screen and (max-width: 980px) {
    .container-grid form {
        display: none;
    }

    .EldenRing {
        width: 100%;
        height: 100%;
    }

    .Valorant {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 850px) {
    .container-grid {
        justify-content: space-between;
    }

    .barras-cabecalho {
        display: inline-block;
    }

    .EldenRing {
        width: 100%;
        height: 100%;
    }

    .Valorant {
        width: 100%;
        height: 100%;
    }

    .container-grid form {
        display: none;
    }

    .head-a a {
        display: flex;
        justify-content: center;
    }

    .menu {
        display: none;
        flex-direction: column;
        text-align: right;
        height: 100px;
        justify-content: space-around;
        position: absolute;
        top: 210px;
        right: 0%;
    }

    .menu-ativo {
        display: flex;
        flex-direction: column;
        text-align: right;
        height: 100px;
        justify-content: space-around;
        display: inline-block;
        position: absolute;
        top: 110px;
        right: 0%;
    }

    .texto-banner a {
        display: none;
        text-align: left;
    }

    .texto-banner h1 {
        display: none;
        display: none;
        text-align: center;
        align-items: center;
    }

    .texto-banner {
        display: flex;
        text-align: left;
        align-items: center;
    }

    .promocoes {
        height: 2100px;
    }

    .promocoes img {
        display: 100px;
    }

    .noticias {
        height: 1200px;
    }
}

.content-news {
    display: 50px;
    flex-wrap: wrap;
}

.rodape {
    height: 800px;
}

@media screen and (max-width: 768px) {
    .container-grid {
        justify-content: space-between;
    }

    .barras-cabecalho {
        display: inline-block;
    }

    .EldenRing {
        width: 100%;
        height: 100%;
    }

    .Valorant {
        width: 100%;
        height: 100%;
    }

    .container-grid form {
        display: none;
    }

    .head-a a {
        display: flex;
        justify-content: center;
    }

    .menu {
        display: none;
        flex-direction: column;
        text-align: right;
        height: 100px;
        justify-content: space-around;
        position: absolute;
        top: 210px;
        right: 0%;
    }

    .menu-ativo {
        display: flex;
        flex-direction: column;
        text-align: right;
        height: 100px;
        justify-content: space-around;
        display: inline-block;
        position: absolute;
        top: 110px;
        right: 0%;
    }

    .texto-banner a {
        display: none;
        text-align: left;
    }

    .texto-banner h1 {
        display: none;
        display: none;
        text-align: center;
        align-items: center;
    }

    .texto-banner {
        display: flex;
        text-align: left;
        align-items: center;
    }

    .servicos {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .promocoes {
        height: 2100px;
    }

    .promocoes img {
        display: 100px;
    }

    .noticias {
        height: 1200px;
    }
}

.content-news {
    display: 50px;
    flex-wrap: wrap;
}

.rodape {
    height: 800px;
}

@media screen and (max-width: 700px) {
    .Logo {
        width: 280px;
        justify-content: center;
    }

    .EldenRing {
        width: 100%;
        height: 100%;
    }

    .Valorant {
        width: 100%;
        height: 100%;
    }

    .container-grid {
        width: 100%;
        justify-content: center;
    }

    .head-a button {
        width: 100px;
        justify-content: center;
    }

    .barras-cabecalho {
        display: none;
    }
}

@media screen and (max-width: 300px) {

    .Logo {
        width: 280px;
        justify-content: space-around;
    }

    .container-grid {
        width: 100%;
    }

    .container-grid {
        justify-content: space-between;
    }

    .barras-cabecalho {
        display: none;
    }

    .container-grid form {
        display: none;
    }

    .head-a a {
        width: 100px;
        justify-content: center;
    }

    .texto-banner a {
        display: none;
    }

    .menu {
        display: none;
        flex-direction: column;
        text-align: right;
        height: 100px;
        justify-content: space-around;
        position: absolute;
        top: 100px;
        right: 0%;
    }

    .texto-banner h1 {
        display: none;
        display: none;
        text-align: center;
        align-items: center;
    }

    .texto-banner {
        display: flex;
        text-align: left;
        align-items: center;
    }

    .promocoes {
        height: 2100px;
    }

    .promocoes img {
        display: 30px;
    }

    .noticias {
        height: 1200px;
    }

    .content-news {
        display: 50px;
        flex-wrap: wrap;
    }

    .rodape {
        height: 800px;
    }
}